<a href="https://colab.research.google.com/github/nhlong1512/IS403.N21/blob/main/Lab2_Home_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
drink = pd.read_csv("energy_survey_e_csv.csv")
drink

    Respondent  Gender Brand Preference
0            1    Male          Brand 3
1            2  Female          Brand 3
2            3    Male          Brand 3
3            4    Male          Brand 1
4            5    Male          Brand 1
..         ...     ...              ...
95          96    Male          Brand 1
96          97    Male          Brand 3
97          98  Female          Brand 3
98          99    Male          Brand 2
99         100  Female          Brand 1

[100 rows x 3 columns]

In [4]:
chisqt = pd.crosstab(drink.Gender, drink['Brand Preference'])
print(chisqt)

Brand Preference  Brand 1  Brand 2  Brand 3
Gender
Female                  9        6       22
Male                   25       17       21

In [8]:
from scipy import stats

In [10]:
c, p, dof, expected = stats.chi2_contingency(chisqt)

In [11]:
print(p)

0.038921342064441915

In [12]:
print(c)

6.4924250792329055

In [13]:
print(dof)

2